body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;

}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
}

.content {
  margin: 16px auto;


}

h1 {
  font-size: 16px;
  margin-bottom: 8px;
}

.card {
  padding-top: 8px; 
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;

}

.title {

  padding: 8px 8px 8px 8px;




}

.content {

  margin-top: 8px;
  margin-bottom: 8px;
  padding: 16px 8px 16px 8px;
  

}

.button-container {
  
  
  padding: 8px 8px 8px 8px;

}


button{
  display: block;
  margin-top: 8px;
  margin: auto;
  padding: 8px 24px 8px 24px;

}